.btn{
    border: 0px;
    
    margin-left: 300px;
    cursor: pointer;    
    justify-content: space-between;
    }

.img-1{    
    border: 0px;
    
    cursor: pointer;
    width: 7%;
}    
.img-2{    
    margin-left: 300px;
    border: 0px;    
    cursor: pointer;
    
}    
h1{    
    width: 15%;
    
    }   
    .div-h1{
        height: 200px;
        background: #fcfffc;
        display: flex;
        justify-content: center;
        text-align: center;
      } 
      .div{
        height: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        
      } 


