.btn{
    border: 0px;
    padding: 15 px;
    margin-left: 300px;
    cursor: pointer;    
    justify-content: space-between;
    }

.img-1{    
    border: 0px;
    padding: 50 px;
    cursor: pointer;
    width: 7%;
}    
.img-2{    
    margin-left: 300px;
    border: 0px;
    padding: 50 px;
    cursor: pointer;
    width: 15%;
}    
h1{    
    width: 15%;
    
    }   
    .div-h1{
        height: 200px;
        background: #fcfffc;
        display: flex;
        justify-content: center;
        text-align: center;
      } 


